@media print {
  @page {
    margin: 2cm;
  }
}

.page-start {
  page-break-before: always;
}

body {
  padding: 15px;
  font-size: 0.75em;
  font-family: Sans-Serif;
}

p#small-text {
  font-size: 0.6em;
}

td {
  padding-left: .3em;
  padding-right: .3em;
}

.bordered-table td, .bordered-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.entry {
  border-bottom: 1px solid black;
}

.div-bordered {
  border: 1px solid black;
  border-style: solid;
}

.label {
  font-size: 0.4em;
  font-weight: bold;
}

.label > td {
  padding-bottom: .3em;
}

.signed {
  font-family: cursive;
  border-bottom: 1px solid black;
}

.signedTable {
  border-collapse: separate;
  border-spacing: 20px 0px;
  text-align: center;
}

.signedRow {
  height: 2em;
}
