/*
.ct-series-a .ct-slice-donut {
	stroke: red;
}

.ct-series-b .ct-slice-donut {
	stroke: orange;
}

.ct-series-c .ct-slice-donut {
	stroke: yellow;
}

.ct-series-d .ct-slice-donut {
	stroke: blue;
}

.ct-series-e .ct-slice-donut {
	stroke: green;
}
*/
/*
.ct-series-a .ct-bar {
	stroke-width: 20px;
}

.ct-series-b .ct-bar {
	stroke-width: 20px;
}
*/
